$bg-color-1: #ffffff;
$bg-color-2: #ebebeb;
$bg-color-3: #e2e2e2;
$bg-color-4: #c9c9c9;

$bg-color-1-dark: #000000;
$bg-color-2-dark: #1f1f1f;
$bg-color-3-dark: #414141;
$bg-color-4-dark: #636363;

$text-1: #0a0a0a;
$text-2: #202020;
$text-3: #383838;

$text-1-dark: #ffffff;
$text-2-dark: #cacaca;
$text-3-dark: #c2c2c2;

$color-primary-1: #3527f0;
$color-primary-2: #473cda;
$color-primary-3: #4a56c0;

$color-info-1: #4995ec;
$color-info-2: #458bdb;
$color-info-3: #3e7abe;

$color-success-1: #45cf1b;
$color-success-2: #4fb92e;
$color-success-3: #51a836;

$color-warning-1: #fff12a;
$color-warning-2: #f5bd21;
$color-warning-3: #ff9b28;

$color-error-1: #ff2a2a;
$color-error-2: #f55151;
$color-error-3: #ff6868;
